GITHUB_ACCESS_TOKEN=your-github-access-token
DOCKER_HUB_LOGIN_USR=your-dockerhub-username
DOCKER_HUB_LOGIN_PSW=your-dockerhub-access-token
AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key
AWS_REGION=your-aws-region
AWS_SUBNET_ID=your-aws-subnet-id